Article
DAQ Dev2/CAD Models
DAQ Dev2/Electronics
DAQ Dev2/Software/grbl_control
DAQ Dev2/Software/test.py
3D Printer Control
2209-B
Data Acqusition Dev 2
Havelsan SUIT
Images
Laser_tape_reverse_engineering-master
token.txt
uart_data.txt
data.xlsx
Literature_yusuf_soyçeken.xlsx
data_uart.csv
Project 1 - Presentation.pptx
Project 2 - Presentation I.pptx
final_report.docx
progress_report_2_yusuf_soyceken_20290497.docx
progress_report_3_yusuf_soyceken_20290497.docx
progress_report_yusuf_soyceken_20290497.docx
Project Progress Report Template.docx
project_2_progress_report_1_yusuf_soyçeken_20290497.docx
project_2_progress_report_2_yusuf_soyçeken_20290497.docx
project_2_progress_report_3_yusuf_soyçeken_20290497.docx
